<html>
<head>
	<title>Главная страница - страница обо мне</title>
</head>
<body>
    <% include blocks/header.ejs %>
<center><h1>Информация обо мне <%= newsId %></h1></center>
<br/><br/>
<font style="color:green">мем со львом</font>
<br/><br/>
<b>Просто пример жирного текста</b>
<br/><br/>
<a href="/about">а?</a>
</body>
</html>